@use "abstracts" as a;

.grid {
  display: flex;
  flex-direction: column;
  @include a.tablet {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 90%;
    margin: 6rem auto 1.6875rem;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5rem;
  }
  @include a.large {
    max-width: 1110px;
    min-height: 668px;
    margin: 3rem auto 3rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px 1fr 150px;
    row-gap: 0;
  }

  @include a.desktop {
    margin-top: 7.875rem;
  }
}
.tabs__container {
  width: 100%;
  border-bottom: var(--borders);
  @include a.tablet {
    display: flex;
    align-items: center;
    grid-area: 2 / 2;
    border-bottom: none;
  }

  @include a.large {
    grid-area: 3 / 3;
  }
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 0 auto;
  width: 95%;
  transform: translateX(-0.2rem);
  @include a.tablet {
    flex-direction: column;
    gap: 1rem;
    transform: unset;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
  }
  @include a.large {
    transform: translateY(-4.5rem);
    @for $i from 1 through 3 {
      .tab:nth-of-type(#{$i}) {
        animation: text-enter
          1s
          ease-in-out
          (1.7s + ($i - 1) * 0.1s)
          1
          backwards;
      }
    }
  }
}

.tab {
  font-size: 0.5625rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.93px;
  color: var(--border-color);
  padding-top: 0.25rem;
  padding-bottom: 1.25rem;
  cursor: pointer;

  @include a.tablet {
    border: var(--borders);
    padding: 0.75rem 1.25rem;
    max-width: 281px;
    width: 100%;
    color: var(--text);
    height: 48px;
    display: flex;
    align-items: center;
  }

  @include a.large {
    max-width: unset;
    font-size: 0.75rem;
  }
}

.fill__mercury {
  border-bottom: 4px solid var(--mercury);
  transition: 0.25s ease-in-out;
  @include a.tablet {
    border: none;
    background-color: var(--mercury);
  }
}
.fill__venus {
  border-bottom: 4px solid var(--venus);
  transition: 0.25s ease-in-out;
  pointer-events: none;
  @include a.tablet {
    border: none;
    background-color: var(--venus);
  }
}
.fill__earth {
  border-bottom: 4px solid var(--earth);
  transition: 0.25s ease-in-out;
  pointer-events: none;
  @include a.tablet {
    border: none;
    background-color: var(--earth);
  }
}
.fill__mars {
  border-bottom: 4px solid var(--mars);
  transition: 0.25s ease-in-out;
  pointer-events: none;
  @include a.tablet {
    border: none;
    background-color: var(--mars);
  }
}
.fill__jupiter {
  border-bottom: 4px solid var(--jupiter);
  transition: 0.25s ease-in-out;
  pointer-events: none;
  @include a.tablet {
    border: none;
    background-color: var(--jupiter);
  }
}
.fill__saturn {
  border-bottom: 4px solid var(--saturn);
  transition: 0.25s ease-in-out;
  pointer-events: none;
  @include a.tablet {
    border: none;
    background-color: var(--saturn);
  }
}
.fill__uranus {
  border-bottom: 4px solid var(--uranus);
  transition: 0.25s ease-in-out;
  pointer-events: none;
  @include a.tablet {
    border: none;
    background-color: var(--uranus);
  }
}
.fill__neptune {
  border-bottom: 4px solid var(--neptune);
  transition: 0.25s ease-in-out;
  pointer-events: none;
  @include a.tablet {
    border: none;
    background-color: var(--neptune);
  }
}

.tab:hover {
  @include a.large {
    background-color: var(--tab-hover);
    transition: 0.25s ease-in-out;
  }
}

.num,
.hide__text {
  display: none;
  @include a.tablet {
    display: inline-block;
  }
}

.num {
  margin-right: 1.0625rem;
  color: var(--border-color);
}

.overview {
  span {
    margin-right: 1.15rem;
  }
}

.planet__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 305px;

  @include a.tablet {
    display: flex;
    grid-column: 1 / span 2;
    width: unset;
    min-height: 422.781px;
  }
  @include a.large {
    grid-row: 1 / span 3;
    min-height: unset;
  }
}

.planet {
  transform: scale(0.3);

  @include a.tablet {
    transform: unset;
    width: calc(100% / 1.58);
  }
  @include a.large {
    animation: planet-enter 0.75s ease-in-out 1.2s 1 backwards;
    backface-visibility: hidden;
    width: 100%;
  }
}

.planet__geology {
  position: absolute;
  transform: scale(0.2);
  top: 9.5rem;

  @include a.tablet {
    transform: scale(0.3);
    top: 25rem;
  }
  @include a.large {
    top: 28rem;
  }
}

.content__container {
  text-align: center;
  margin-bottom: 1.75rem;
  @include a.tablet {
    grid-area: 2 /1;
    text-align: start;
  }
  @include a.large {
    grid-area: 1 /3;
    grid-row: 1 / span 2;
    align-self: center;
  }
}

.name {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  @include a.tablet {
    margin-bottom: 1.5rem;
  }
  @include a.large {
    font-size: 5rem;
    animation: text-enter 1s ease-in-out 1.5s 1 backwards;
  }
}

.content {
  font-size: 0.6875rem;
  line-height: 22px;
  width: 85%;
  margin: 0 auto;
  opacity: 0.8;
  margin-bottom: 2rem;
  @include a.tablet {
    margin: 0;
    width: 100%;
    margin-bottom: 2rem;
    height: 110px;
  }
  @include a.large {
    font-size: 0.875rem;
    width: 95%;
    height: 154px;
    animation: text-enter 1s ease-in-out 1.6s 1 backwards;
  }
}

.source__container {
  color: var(--border-color);
  font-size: 0.75rem;

  a {
    @extend .source__container;
    font-weight: 700;
  }

  @include a.large {
    animation: text-enter 1s ease-in-out 1.7s 1 backwards;
  }
}

.source__icon {
  transform: translateY(0.1rem);
}

@keyframes planet-enter {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes text-enter {
  from {
    transform: translateX(100vw);
    opacity: 0;
  }
  10% {
    transform: translateX(90vw);
    opacity: 0.1;
  }

  20% {
    transform: translateX(80vw);
    opacity: 0.1;
  }
  30% {
    transform: translateX(70vw);
    opacity: 0.1;
  }
  40% {
    transform: translateX(60vw);
    opacity: 0.1;
  }
  50% {
    transform: translateX(50vw);
    opacity: 0.1;
  }
  60% {
    transform: translateX(40vw);
    opacity: 0.1;
  }
  70% {
    transform: translateX(30vw);
    opacity: 0.1;
  }
  80% {
    transform: translateX(20vw);
    opacity: 0.1;
  }
  90% {
    transform: translateX(10vw);
    opacity: 0.2;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
