@use "abstracts" as a;

.grid {
  display: grid;
  justify-items: center;
  overflow: hidden;
  @include a.tablet {
    width: 90%;
    margin: 6rem auto 1.6875rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0;
    row-gap: 5rem;
  }
  @include a.large {
    max-width: 1110px;
    min-height: 668px;
    margin: 3rem auto 3rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px 1fr 150px;
    row-gap: 0;
  }

  @include a.desktop {
    margin-top: 7.875rem;
  }
}
.tabs__container {
  width: 100%;
  // margin-bottom: 8rem;
  @include a.tablet {
    display: flex;
    align-items: center;
    grid-area: 2 / 2;
  }

  @include a.large {
    grid-area: 3 / 3;
  }
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 0 auto;
  width: 95%;
  transform: translateX(-0.2rem);
  @include a.tablet {
    flex-direction: column;
    gap: 1rem;
    transform: unset;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
  }
  @include a.large {
    transform: translateY(-4.5rem);
  }
}

.tab {
  font-size: 0.5625rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.93px;
  color: var(--border-color);
  padding-top: 0.25rem;
  padding-bottom: 1.25rem;
  cursor: pointer;

  @include a.tablet {
    border: var(--borders);
    padding: 0.75rem 1.25rem;
    max-width: 281px;
    width: 100%;
    color: var(--text);
    height: 48px;
    display: flex;
    align-items: center;
  }

  @include a.large {
    max-width: unset;
    font-size: 0.75rem;
  }
}

.fill__mercury {
  border-bottom: 4px solid var(--mercury);
  transition: 0.25s ease-in-out;
  @include a.tablet {
    border: none;
    background-color: var(--mercury);
  }
}
.fill__venus {
  border-bottom: 4px solid var(--venus);
  transition: 0.25s ease-in-out;
  pointer-events: none;
  @include a.tablet {
    border: none;
    background-color: var(--venus);
  }
}
.fill__earth {
  border-bottom: 4px solid var(--earth);
  transition: 0.25s ease-in-out;
  pointer-events: none;
  @include a.tablet {
    border: none;
    background-color: var(--earth);
  }
}
.fill__mars {
  border-bottom: 4px solid var(--mars);
  transition: 0.25s ease-in-out;
  pointer-events: none;
  @include a.tablet {
    border: none;
    background-color: var(--mars);
  }
}
.fill__jupiter {
  border-bottom: 4px solid var(--jupiter);
  transition: 0.25s ease-in-out;
  pointer-events: none;
  @include a.tablet {
    border: none;
    background-color: var(--jupiter);
  }
}
.fill__saturn {
  border-bottom: 4px solid var(--saturn);
  transition: 0.25s ease-in-out;
  pointer-events: none;
  @include a.tablet {
    border: none;
    background-color: var(--saturn);
  }
}
.fill__uranus {
  border-bottom: 4px solid var(--uranus);
  transition: 0.25s ease-in-out;
  pointer-events: none;
  @include a.tablet {
    border: none;
    background-color: var(--uranus);
  }
}
.fill__neptune {
  border-bottom: 4px solid var(--neptune);
  transition: 0.25s ease-in-out;
  pointer-events: none;
  @include a.tablet {
    border: none;
    background-color: var(--neptune);
  }
}

.tab:hover {
  @include a.large {
    background-color: var(--tab-hover);
    transition: 0.25s ease-in-out;
  }
}

.num,
.hide__text {
  display: none;
  @include a.tablet {
    display: inline-block;
  }
}

.num {
  margin-right: 1.0625rem;
  color: var(--border-color);
}

.overview {
  span {
    margin-right: 1.15rem;
  }
}

.line {
  height: 0.5px;
  width: 100%;
  background-color: var(--border-color);
  border: none;
  @include a.tablet {
    display: none;
  }
}

.planet__container {
  position: relative;
  height: 19rem;
  overflow: hidden;

  @include a.tablet {
    display: flex;
    justify-content: center;
    overflow: unset;
    height: unset;
    margin: unset;
    grid-column: 1 / span 2;
    min-height: 422.781px;
  }
  @include a.large {
    grid-row: 1 / span 3;
    min-height: unset;
  }
}

.planet {
  transform: scale(0.345) translateY(15rem);
  transform-origin: top center;
  @include a.tablet {
    transform: unset;
    transform-origin: unset;
    width: calc(100% / 1.58);
    object-fit: contain;
  }
  @include a.large {
    width: 100%;
  }
}

.planet__geology {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: -40%;
  transform: scale(0.3);
}

.content__container {
  text-align: center;
  margin-bottom: 1.75rem;
  @include a.tablet {
    grid-area: 2 /1;
    text-align: start;
  }
  @include a.large {
    grid-area: 1 /3;
    grid-row: 1 / span 2;
    text-align: start;
    align-self: center;
  }
}

.name {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  @include a.tablet {
    margin-bottom: 1.5rem;
  }
  @include a.large {
    font-size: 5rem;
  }
}

.content {
  font-size: 0.6875rem;
  line-height: 22px;
  width: 85%;
  margin: 0 auto;
  opacity: 0.8;
  margin-bottom: 2rem;
  @include a.tablet {
    margin: 0;
    width: 100%;
    margin-bottom: 2rem;
    height: 110px;
  }
  @include a.large {
    font-size: 0.875rem;
    width: 95%;
    height: 154px;
  }
}

.source__container {
  color: var(--border-color);
  font-size: 0.75rem;

  a {
    @extend .source__container;
    @include a.tablet {
      font-weight: 700;
    }
  }
}
