@mixin center-div {
  width: 90%;
  margin: 0 auto;
}

@mixin flex-row-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column-space-between {
  display: flex;
  flex-direction: column;
}
