@use "./variables" as a;

@mixin center-div {
  width: 87.5%;
  margin: 0 auto;
}

@mixin flex-row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column-space-between {
  display: flex;
  flex-direction: column;
}

@mixin tablet {
  @media (min-width: a.$tablet) {
    @content;
  }
}

@mixin large {
  @media (min-width: a.$large) {
    @content;
  }
}
