$text: hsl(0, 0%, 100%);
$headings: hsla(0, 0%, 100%, 0.5);
$border-color: hsl(0, 0%, 59%);
$background: hsl(240, 67%, 8%);
$tab-hover: hsl(0, 0%, 85%);
$mercury: hsl(194, 48%, 49%);
$mercury-mobile-nav: hsl(196, 83%, 93%);
$venus: hsl(33, 82%, 61%);
$venus-mobile-nav: hsl(39, 88%, 73%);
$earth: hsl(263, 67%, 51%);
$earth-mobile-nav: hsl(238, 99%, 66%);
$mars: hsl(10, 63%, 51%);
$mars-mobile-nav: hsl(12, 100%, 64%);
$jupiter: hsl(2, 68%, 53%);
$jupiter-mobile-nav: hsl(27, 75%, 70%);
$saturn: hsl(17, 73%, 46%);
$saturn-mobile-nav: hsl(40, 96%, 70%);
$uranus: hsl(169, 73%, 44%);
$uranus-mobile-nav: hsl(168, 82%, 67%);
$neptune: hsl(222, 87%, 56%);
$neptune-mobile-nav: hsl(222, 95%, 63%);
$borders: 0.5px solid hsl(0, 0%, 59%);

$tablet: 765px;
$large: 1024px;
